.libraryDisplay{
    display: flex;
    flex-direction : row;
    background-color : gray;
    flex-wrap: wrap;

  }
  
  .libraryDisplay div{
    display: flex;
    flex-direction : column;
    background-color : white;
    margin:5px;
  }


  .libraryDisplay div:last-child > button{
    background-color: blue;
  }


  .libraryDisplay div:first-of-type{
    background-color: pink;
  }


 
  .libraryDisplay > div:first-of-type > button{
    background-color: red;
  }